a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
}
body {
    background: linear-gradient(to right, #000, #3a3a3a);
}

.inicio p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}
#fotoDePerfil {
    width: 7rem;
    border-radius: 45px;
}
.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 2rem;
}
.logos {
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#youtube {
    padding: 1rem;

    color: rgb(255, 0, 0);
}
#tiktok {
    color: rgb(0, 0, 255);
}
.produtos {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.produto {
    box-shadow: 3px 4px 8px rgba(255, 255, 255, 0.20 ) ;
    border: 1px solid white;
    font-family: arial;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.45);
    padding: 1.5rem;
    border-radius: 50px;
    width: 13rem;
    text-align: center;
    transition: 0.4s ease;
}
.produto:hover {
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.40);
    transform: scale(1.05);
}
.produto:active {
    background: rgb(255, 255, 255);
}
img {
    border-radius: 15px;
    width: 5rem;
}
.produto1 {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.produto2 {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.produto3 {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

